*.iml
/captures
/infer-out

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.classpath
.project
.settings
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties

.idea
